[submodule "depend/imgui"]
	path = depend/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "depend/VectorMath"]
	path = depend/VectorMath
	url = https://github.com/XnipS/VectorMath.git
[submodule "depend/implot"]
	path = depend/implot
	url = https://github.com/epezent/implot.git
